<div class="cards-container">
  <div class="card" *ngFor="let lesson of lessons">
    <img [src]="lesson.image" [alt]="lesson.title" loading="lazy">
    <div class="card-content">
      <h4>{{ lesson.title }}</h4>
      <p class="author">By: {{ lesson.author }}</p>
      <p class="description">{{ lesson.description }}</p>
      <div class="tags">
        <span class="tag" *ngFor="let tag of lesson.tags">{{ tag }}</span>
      </div>
    </div>
    <button (click)="openLesson(lesson)" aria-label="Open {{lesson.title}}">
      Open Lesson
    </button>
  </div>
</div>
